body {
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $fontgiada;
        font-family: "Rubik", sans-serif;
        line-height: 1.4;
        letter-spacing: -0.01em;
    }

    p,
    li,
    a {
        font-family: $personal-font;
        color: white;
        letter-spacing: 2px;
    }

    img.img {
        max-width: 100%;
        height: auto;
        padding: 20px;
    }

    ul.list {
        display: block;
        list-style-type: none;
        line-height: 30px;
    }

    a.list-item {
        padding: 20px;
        font-size: 1.8rem;
    }
}
